@import url('./variables.css');

@media only screen and (max-device-width: 900px), (max-device-height: 720px) {
    .menu .menu-lines {
        display: block !important;
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        padding: 20px;
    }
    .menu .menu-lines span {
        display: block !important;
        width: 35px;
        height: 5px;
        margin-bottom: 10px;
        background-color: #5D5AE8;
        border-radius: 3px;
        transition: all ease .5s;
    }
    .menu .menu-fake-trigger {
        display: block !important;
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }
    .menu {
        position: absolute;
        z-index: 997;
    }

    .menu .menu-fake-trigger:checked ~ .menu-lines span:nth-child(1) {
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.25);
    }

    .menu .menu-fake-trigger:checked ~ .menu-lines span:nth-child(2) {
        opacity: 0;
    }

    .menu .menu-fake-trigger:checked ~ .menu-lines span:nth-child(3) {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.25);
    }

    .menu .menu-fake-trigger:checked ~ ul {
        transition: all ease .5s;
        margin-left: 0px;
    }

    .home-style .menu {
        margin-top: 0px !important;
    }

    .menu ul {
        position: absolute !important;
        z-index: 998;
        left: 0;
        top: 0 !important;
        width: 200px;
        padding-top: 100px;
        padding-left: 0px !important;
        font-weight: 500;
        background-color: var(--title-font-color) !important;
        height: calc(100vh - 100px);
        flex-direction: column !important;
        margin: 0;
        margin-left: -300px;
    }

    .menu ul li {
        color: var(--background-color);
        padding: 10px 20px;
    }

    .home-style {
        display: grid;
        grid-template-rows: 1fr 1fr !important;
    }

    .home-style .presentation {
        height: 80%;
        margin-top: 20vh;
    }
    
}