@import url('./responsiveness-style.css');
@import url('./fonts.css');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

html ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--title-font-color);
}
html ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--default-gradient)
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-container {
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overscroll-behavior-y: initial;
}

.scroll-area {
    scroll-snap-align: start;
    overflow: hidden;
    height: 100vh;
}

.home-style {
    display: grid;
    grid-template-rows: 250px 0.9fr 1fr;
}

.home-style .menu {
    font-size: var(--smaller-font-size);
    font-family: var(--default-text-font);
    font-weight: 300;
    margin: auto;
    margin-top: 25px;
    color: var(--title-font-color);
}

.home-style .menu ul li:hover {
    font-weight: 600;
    cursor: pointer;
}

.presentation {
    margin-left: 10%;
    line-height: 2vh;
    display: flex;
    flex-direction: row;
}



.presentation .presentation-text {
    display: none;
}


.presentation .presentation-slogan {
    color: var(--title-font-color);
    font-family: var(--title-font);
    font-size: var(--bigger-font-size);
    line-height: 5vh;
    height: fit-content;
    border-left: 5px solid transparent;
    border-image: linear-gradient(0deg, rgba(236,236,255,1) 0%, rgba(93,90,232,1) 100%);
    border-image-slice: 1;
    padding: 10px;
}

.presentation .presentation-slogan span {
    color: var(--main-website-color);
    font-size: var(--bigger-font-size);
}

.projects {
    margin-left: 10%;
}

.home-style .presentation .presentation-slogan p:nth-child(2)::before {
    content: "Guilherme Gomes Barboza";
}

.home-style .menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.home-style .menu ul li {
    padding: 40px;
}

.home-style .projects p {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: var(--bigger-font-size);
    color: var(--secondary-title-font-color);
}

.projects-buttons button {
    padding: 15px 20px;
    margin-right: 25px;
    border-radius: 30px;
    border: none;
    background-color: var(--title-font-color);
}

.projects-buttons button a:link {
    text-decoration:none;
}
.projects-buttons button a:visited {
    text-decoration:none;
}
.projects-buttons button a:hover {
    text-decoration:none;
}

.projects-buttons button a {
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--background-color);
    font-family: var(--title-font);
    text-decoration:none;
}

.home-style .purple-line-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: var(--main-website-color);
}

.training {
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
}

.training .baseline {
    width: 90%;
    height: 10px;
    margin: auto;
    background-color: var(--title-font-color);
}

.course-card {
    display: flex;
    flex-direction: row;
}

.course-card .timeline-division {
    width: 5px;
    height: 150px;
    padding: 0;
    margin: 0;
    background: var(--default-gradient)
}

.timeline-with-no-baseline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(80% - 5px);
    margin: 5vh auto auto;
}

.course-detail {
    font-family: var(--title-font);
    color: var(--title-font-color);
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: small;
}

.course-detail p {
    margin: 0px;
    margin-bottom: 1.5px;
}

.course-detail img {
    width: 100px;
    margin-bottom: 10px;
}

.courses .course-title p {
    font-family: var(--title-font);
    color: var(--secondary-title-font-color);
    font-size: var(--big-font-size);
}

.courses {
    width: calc(80% - 5px);
    margin: auto;
}

.courses .course-description, .professional-xp .companies .company-sec .info p  {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-family: var(--default-text-font);
    color: var(--text-font-color);
    line-height: 5vh;
}

.course-card:hover {
    scale: 1.5;
    cursor: pointer;
    font-weight: bold;
}

.training .main-title, 
.professional-xp .professional-xp-title {
    width: calc(80% - 5px);
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: var(--title-font);
    font-size: var(--bigger-font-size);
    color: var(--title-font-color);
    margin-top: 5vh;
    align-items: center;
}

.main-title .line, .professional-xp-title .line {
    height: 80px !important;
}

.main-title p {
    height: calc(100% - 40px);
}


.professional-xp {
    display: grid;
    grid-template-rows: 250px 1fr 1fr;
}

.professional-xp .companies {
    display: grid;
    grid-template-columns: 1fr calc(80% - 5px) 1fr;
}

.professional-xp .companies .company-sec {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.professional-xp .companies .company-sec .title p {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    color: var(--secondary-title-font-color);
    margin: 0;
    padding: 0;
    /* height: calc(100% - 40px); */
}


.professional-xp .companies .companies-menu {
    height: 30vh;
    width: 2vw;
    background-color: rgba(236,236,255);
    margin: auto auto auto 0vw;
    border-radius: 0px 15px 15px 0px;
    min-width: 25px;
    grid-template-columns: 1fr;
}
.professional-xp .companies .company-icon {
    height: calc(30vh / 4);
    width: 2vw;
    background-color: rgba(236,236,255);
    margin: auto auto auto;
    border-radius: 0px 15px 15px 0px;
}

.professional-xp .companies .companies-menu .company-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0px 15px 15px 0px;
    margin: auto;
}

.professional-xp .companies .companies-menu .company-icon img {
    animation: fadeIn .5s;
    height: 30px;
    margin: auto;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.professional-xp .companies .companies-menu .company-icon:hover {
    background-color: var(--title-font-color);
    transition: .5s;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    width: 80px;
}

.professional-xp .companies .companies-menu .company-icon:hover ~  .professional-xp .companies .companies-menu .company-icon img{
    height: auto;
}

.professional-xp .companies .companies-menu .company-icon .img-empresa {
    display: none;
    width: 50px;
    margin-right: 10px;
}

.professional-xp .companies .companies-menu .company-icon .img-seta {
    display: block !important;
    width: 1.5vw;
    margin: auto;
    min-width: 15px !important;
}

.professional-xp .companies .companies-menu .company-icon:hover .img-empresa {
    display: block !important;
}

.professional-xp .companies .companies-menu .company-icon:hover .img-seta {
    display: none !important;
}


.professional-xp .carrousel-xp {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(80% - 5px);
    margin: auto;
}


.carrousel-xp .carrousel-img {
    width: var(--icon-width-mult);
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carrousel-xp .carrousel-img img {
    width: 80%;
}

.place {
    color: var(--main-website-color);
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(80% - 5px);
    margin: auto;
}
.about-me .about-title .line {
    height: 80px !important;
}

.info .title {
    display: flex;
    flex-direction: column;
    font-family: var(--default-text-font);
    color: var(--title-font-color);
    font-weight: 600;
    font-size: var(--medium-font-size);
}

.about-me .about-title {
    display: flex;
    flex-direction: row;
    font-family: var(--title-font);
    font-size: var(--bigger-font-size);
    color: var(--title-font-color);
    margin-top: 5vh;
    align-items: center;
}


.info .social-media {
    font-size: var(--small-font-size);
    font-family: var(--default-text-font);
    font-weight: 300;
    color: var(--text-font-color);
}

.about-me .social-media-container {
    display: flex;
    flex-direction: column;
}

.about-me .social-media-container a {
    margin-top: 1vh;
}

.about-me .personal-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.my-img img {
    width: 350px;
}

.my-img {
    margin-top: 8vh;
}

.about-title {
    width: 50%;
}

.menu input {
    display: none;
}

.menu .menu-lines {
    display: none;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.course-card .course-detail {
    display: flex !important;
    align-items: center !important;
}

