:root {
    --main-website-color: #5D5AE8;
    --title-font-color: #f5f5f5;
    --secondary-title-font-color: #ECECFF;
    --text-font-color: #c6c6c6;
    --background-color: #333;
    --default-gradient: linear-gradient(0deg, rgba(236,236,255,1) 0%, rgba(93,90,232,1) 100%);
    --default-text-font: 'Roboto', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --smaller-font-size: 18px;
    --small-font-size: 20px;
    --medium-font-size: 24px;
    --big-font-size: 30px;
    --bigger-font-size: 40px;
    --icon-width-mult: 10%;
}

@media only screen and (max-device-width: 900px) {
    :root {
        --bigger-font-size: 35px;
        --big-font-size: 25px;
        --medium-font-size: 19px;
        --smalll-font-size: 15px;
        --smaller-font-size:13px;
    }

    .training {
        grid-template-rows: 150px 1fr 1fr !important;
    }

    .course-description {
        height: 30vh;
        overflow-y: scroll;
    }
    .course-card:hover {
        scale: 1.2 !important;
    }

    .course-card .timeline-division {
        display: none;
    }
    
    .about-me .personal-info {
        margin: auto;
    }
}


@media only screen and (max-device-width: 600px) {
    :root {
        --icon-width-mult: 20%;
    }    
}